.T12_P1 {
	FONT-SIZE: 12px; COLOR: #990099; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_B1 {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_R1 {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_W1 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_R2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_G1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006600; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_G2 {
	FONT-SIZE: 12px; COLOR: #339900; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.input1 {
	BORDER-RIGHT: #993300 1px dashed; BORDER-TOP: #993300 1px dashed; FONT-SIZE: 12px; BORDER-LEFT: #993300 1px dashed; COLOR: #003399; BORDER-BOTTOM: #993300 1px dashed; FONT-FAMILY: "宋体"; HEIGHT: 15px; BACKGROUND-COLOR: #ffffee
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_R3 {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_B2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.TB1 {
	OVERFLOW: auto; WIDTH: 755px
}
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.TB2 {
	OVERFLOW: auto; WIDTH: 660px
}
.T12_BL1 {
	FONT-SIZE: 12px; COLOR: #0033cc; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_R4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #990000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_G3 {
	FONT-SIZE: 12px; COLOR: #339900; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.TB3 {
	OVERFLOW: auto; WIDTH: 570px
}
.TB4 {
	OVERFLOW: auto; WIDTH: 760px
}
.T12_BL2 {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_B3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000066; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_R5 {
	FONT-SIZE: 18px; COLOR: #cc0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.T12_B4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_G4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006633; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_P2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990099; FONT-FAMILY: "宋体"
}
.T12_BL3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_G5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.wz1 {
	FONT-SIZE: 14px; OVERFLOW: auto; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"
}
.wz1_t {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; OVERFLOW: auto; COLOR: #003399; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.wz1_t2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; OVERFLOW: auto; COLOR: #990000; LINE-HEIGHT: normal; FONT-FAMILY: "宋体"
}
.T12_BL4 {
	FONT-SIZE: 12px; WORD-SPACING: 5pc; COLOR: #003399; FONT-FAMILY: "宋体"; WHITE-SPACE: pre; TEXT-DECORATION: none
}
.wz1_t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: auto; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.T12_BL5 {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.wz1_t4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: auto; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
