BODY {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
FORM {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
A:link {
	COLOR: #261cdc
}
A:visited {
	COLOR: #800080
}
#usrbar {
	FONT-SIZE: 12px; LINE-HEIGHT: 19px; FONT-FAMILY: Arial; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#main {
	WIDTH: 100%; min-width: 760px; max-width: 979px
}
#path {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
#tab {
	MARGIN-TOP: 3px; FONT-WEIGHT: normal; FONT-SIZE: 14px; FONT-STYLE: normal; HEIGHT: 21px; FONT-VARIANT: normal
}
#aside {
	FLOAT: right; WIDTH: 290px
}
#right2 {
	FLOAT: right; WIDTH: 290px
}
#center2 {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 300px
}
#content {
	FLOAT: left; WIDTH: 100%; MARGIN-RIGHT: -300px
}
#content_inner {
	MARGIN-RIGHT: 302px
}
#ft {
	CLEAR: both; MARGIN-TOP: 10px; FONT: 12px/1.5 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.hd {
	LEFT: -2px; POSITION: relative
}
.hdi {
	FONT-SIZE: 16px; FONT-FAMILY: Arial
}
.btn {
	PADDING-TOP: 2px; HEIGHT: 24px
}
.headTitB {
	FONT-WEIGHT: bold
}
.bai {
	WIDTH: 100%; ZOOM: 1; POSITION: relative
}
.p90 {
	WIDTH: 90%
}
.t3 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: 0px solid; HEIGHT: 24px
}
.t3_favor {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: 0px solid; HEIGHT: 24px
}
.t1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.b3 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 0px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
.bgg {
	BACKGROUND-COLOR: #ddf1d8
}
.bgb {
	BACKGROUND-COLOR: #deeef4
}
.bgy {
	BACKGROUND-COLOR: #fbf5c6
}
.bgr {
	BACKGROUND-COLOR: #ffe8e6
}
.bcg {
	BORDER-LEFT-COLOR: #58cb64; BORDER-BOTTOM-COLOR: #58cb64; BORDER-TOP-COLOR: #58cb64; BORDER-RIGHT-COLOR: #58cb64
}
.bcy {
	BORDER-LEFT-COLOR: #f4bf20; BORDER-BOTTOM-COLOR: #f4bf20; BORDER-TOP-COLOR: #f4bf20; BORDER-RIGHT-COLOR: #f4bf20
}
.bcb {
	BORDER-LEFT-COLOR: #64b7d7; BORDER-BOTTOM-COLOR: #64b7d7; BORDER-TOP-COLOR: #64b7d7; BORDER-RIGHT-COLOR: #64b7d7
}
.bcr {
	BORDER-LEFT-COLOR: #fe7878; BORDER-BOTTOM-COLOR: #fe7878; BORDER-TOP-COLOR: #fe7878; BORDER-RIGHT-COLOR: #fe7878
}
.b4y {
	BORDER-RIGHT: #f4bf20 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f4bf20 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f4bf20 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f4bf20 1px solid
}
.b4g {
	BORDER-RIGHT: #58cb64 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #58cb64 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; BORDER-LEFT: #58cb64 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #58cb64 1px solid
}
.f14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.f14B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.tdx {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.B {
	FONT-WEIGHT: bold
}
.mb12 {
	MARGIN-BOTTOM: 12px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt20 {
	MARGIN-TOP: 20px
}
.grn {
	COLOR: #008800
}
A.grn:link {
	COLOR: #008800
}
A.grn:visited {
	COLOR: #008800
}
.lbk {
	COLOR: #000000
}
A.lbk:link {
	COLOR: #000000
}
A.lbk:visited {
	COLOR: #000000
}
.lgy {
	COLOR: #555555
}
A.lgy:link {
	COLOR: #555555
}
A.lgy:visited {
	COLOR: #555555
}
.org {
	COLOR: #ff6600
}
A.org:link {
	COLOR: #ff6600
}
A.org:visited {
	COLOR: #ff6600
}
.org {
	FONT-WEIGHT: bold; COLOR: rgb(0,128,0)
}
A.lmore:link {
	
}
A.lmore:visited {
	
}
A.lmore_relaques:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.lmore_relaques:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.lklbe:link {
	COLOR: #7777cc; TEXT-DECORATION: underline
}
A.lklbe:visited {
	COLOR: #7777cc; TEXT-DECORATION: underline
}
.per80 {
	LINE-HEIGHT: 80%
}
.wr {
	TABLE-LAYOUT: fixed; WORD-WRAP: break-word
}
.wr TD {
	PADDING-TOP: 5px
}
.gray {
	COLOR: #666
}
.red {
	COLOR: #ff3300
}
#Lbg {
	BORDER-TOP: #999999 1px solid; MARGIN: 13px 0px 7px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#Lg {
	BORDER-TOP: #dddddd 1px dashed; MARGIN: 7px 0pt 3px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#Lq {
	BORDER-TOP: #e1e1e1 1px solid; MARGIN: 7px 0px 2px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.pl6 {
	PADDING-LEFT: 6px
}
.p30 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px
}
.p10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#pg {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px; TEXT-ALIGN: center
}
#tl TD {
	BORDER-TOP: #e1e1e1 1px dashed
}
.tlp4 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#tl TD.nl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.tlp3 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.bl TD {
	BORDER-BOTTOM: #e1e1e1 1px solid
}
.p2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.p4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.p3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.bl TD.nl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.f12 {
	FONT-SIZE: 12px
}
.bn100 {
	WIDTH: 100px; PADDING-TOP: 2px; HEIGHT: 25px
}
.subt {
	PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: right
}
.f {
	PADDING-LEFT: 15px; FONT-SIZE: 100%; WIDTH: 32em; WORD-BREAK: break-all; LINE-HEIGHT: 120%; WORD-WRAP: break-word
}
#pg {
	MARGIN-TOP: 20px; FONT-SIZE: 14px; WORD-SPACING: 4px; LINE-HEIGHT: 30px; FONT-FAMILY: arial; HEIGHT: 30px; TEXT-ALIGN: center
}
#pg FONT {
	FONT-SIZE: 16px
}
.bnsrh {
	PADDING-TOP: 2px; HEIGHT: 24px
}
.mr20 {
	MARGIN-RIGHT: 20px
}
.note {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.baidu.com/img/iknow/popo.gif) no-repeat left 50%; MARGIN: 12px 0px
}
.answer1 {
	BACKGROUND: url(http://img.baidu.com/img/iknow/answer.gif) no-repeat; OVERFLOW: hidden; WIDTH: 100px; HEIGHT: 25px
}
.answer2 {
	BACKGROUND: url(http://img.baidu.com/img/iknow/answer.gif) no-repeat; OVERFLOW: hidden; WIDTH: 100px; HEIGHT: 25px
}
.answer3 {
	BACKGROUND: url(http://img.baidu.com/img/iknow/answer.gif) no-repeat; OVERFLOW: hidden; WIDTH: 100px; HEIGHT: 25px
}
.answer1 {
	BACKGROUND-POSITION: 0px 0px
}
.answer2 {
	BACKGROUND-POSITION: 0px -25px
}
.answer3 {
	BACKGROUND-POSITION: 0px -50px
}
#Lg {
	BORDER-TOP: #bbb 1px dashed
}
#cproshow .r {
	WIDTH: 100%; CURSOR: pointer; WORD-BREAK: break-all
}
#cproshow DIV.r FONT {
	FONT-SIZE: 14px
}
#cproshow DIV.r SPAN FONT {
	FONT-SIZE: 12px
}
.cprodiv {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.t2 {
	BORDER-TOP: #fed6d2 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.bc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 0px 3px 3px; PADDING-TOP: 5px
}
.bc0 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 0px 3px; PADDING-TOP: 5px
}
.bc3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 3px; PADDING-TOP: 5px
}
.bg {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.by {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.bb {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.bb_2 {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.br {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.bk {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.bka {
	MARGIN-BOTTOM: 12px; POSITION: relative
}
.bg {
	BORDER-RIGHT: #a5da94 1px solid; BORDER-TOP: #a5da94 1px solid; BACKGROUND: #dbf1d4; BORDER-LEFT: #a5da94 1px solid; BORDER-BOTTOM: #a5da94 1px solid
}
.bg0 {
	BACKGROUND: #dbf1d4; POSITION: relative
}
.by {
	BORDER-RIGHT: #e3d686 1px solid; BORDER-TOP: #e3d686 1px solid; BACKGROUND: #f2eab7; BORDER-LEFT: #e3d686 1px solid; BORDER-BOTTOM: #e3d686 1px solid
}
.bb {
	BORDER-RIGHT: #9bc9df 1px solid; BORDER-TOP: #9bc9df 1px solid; BACKGROUND: #dbedf5; BORDER-LEFT: #9bc9df 1px solid; BORDER-BOTTOM: #9bc9df 1px solid
}
.bb_2 {
	BORDER-RIGHT: #d0ebc8 1px solid; BORDER-TOP: #d0ebc8 1px solid; BACKGROUND: #e8f7e4; BORDER-LEFT: #d0ebc8 1px solid; BORDER-BOTTOM: #d0ebc8 1px solid
}
.br {
	BORDER-RIGHT: #e5ada7 1px solid; BORDER-TOP: #e5ada7 1px solid; BACKGROUND: #fed6d2; BORDER-LEFT: #e5ada7 1px solid; BORDER-BOTTOM: #e5ada7 1px solid
}
.bk {
	BORDER-RIGHT: #bdbdbd 1px solid; BORDER-TOP: #bdbdbd 1px solid; BACKGROUND: #d7d7d7; MARGIN-BOTTOM: 0px; BORDER-LEFT: #bdbdbd 1px solid; BORDER-BOTTOM: #bdbdbd 1px solid
}
.bka {
	BORDER-RIGHT: #d4bab8 1px solid; BORDER-TOP: #d4bab8 1px solid; BACKGROUND: #ececec; BORDER-LEFT: #d4bab8 1px solid; BORDER-BOTTOM: #d4bab8 1px solid
}
.tg {
	OVERFLOW: hidden; HEIGHT: 3px
}
.h12 {
	LINE-HEIGHT: 12px; HEIGHT: 12px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px
}
.p98 {
	WIDTH: 98%
}
.pl10 {
	PADDING-LEFT: 10px
}
.tl {
	TEXT-ALIGN: left
}
.tc {
	TEXT-ALIGN: center
}
.tip-red {
	COLOR: #f00
}
.dot {
	BORDER-BOTTOM: #e1e1e1 1px dashed
}
.ico {
	MARGIN-TOP: 4px; FLOAT: left; WIDTH: 20px
}
.ianswer {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.irelate {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.ibbs {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.ibest {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.icomment {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.icosc {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.igood {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.iok {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.istar {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.ivote {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.iwhy {
	BACKGROUND: url(http://img.baidu.com/img/iknow/icons.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; MARGIN-RIGHT: 2px; HEIGHT: 16px
}
.ianswer {
	BACKGROUND-POSITION: 0px 0px
}
.ibbs {
	BACKGROUND-POSITION: 0px -16px
}
.ibest {
	BACKGROUND-POSITION: 0px -32px
}
.icomment {
	BACKGROUND-POSITION: 0px -48px
}
.icosc {
	BACKGROUND-POSITION: 0px -64px; MARGIN-TOP: 3px
}
.igood {
	BACKGROUND-POSITION: 0px -80px
}
.iok {
	BACKGROUND-POSITION: 0px -96px
}
.istar {
	BACKGROUND-POSITION: 0px -112px
}
.ivote {
	BACKGROUND-POSITION: 0px -128px
}
.iwhy {
	BACKGROUND-POSITION: 0px -144px
}
.irelate {
	BACKGROUND-POSITION: 0px -176px
}
.status2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/iknow/line.gif) no-repeat center 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.status0 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/iknow/arr_up.gif) no-repeat center 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.status1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/iknow/arr_down.gif) no-repeat center 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.status3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/iknow/new.gif) no-repeat center 50%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.rg {
	BORDER-RIGHT: #a5da94 1px solid; BACKGROUND: #dbf1d4; PADDING-BOTTOM: 1px; BORDER-LEFT: #a5da94 1px solid; ZOOM: 1
}
.rg_1 {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.rg_2 {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.rg_3 {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.rg_4 {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.rg_5 {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.rg_1 {
	BACKGROUND: #a5da94; MARGIN: 0px 3px
}
.rg_5 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rg_2 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rg_4 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rg_3 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rg_4 {
	BACKGROUND: #dbf1d4
}
.rg_5 {
	BACKGROUND: #dbf1d4
}
.rg_2 {
	BACKGROUND: #dbf1d4
}
.rg_3 {
	BACKGROUND: #dbf1d4
}
.ry {
	BORDER-RIGHT: #e3d686 1px solid; BACKGROUND: #f2eab7; PADDING-BOTTOM: 1px; BORDER-LEFT: #e3d686 1px solid; ZOOM: 1
}
.ry_1 {
	BORDER-RIGHT: #e3d686 0px solid; BORDER-TOP: #e3d686 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e3d686 0px solid; BORDER-BOTTOM: #e3d686 0px solid; HEIGHT: 1px
}
.ry_2 {
	BORDER-RIGHT: #e3d686 0px solid; BORDER-TOP: #e3d686 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e3d686 0px solid; BORDER-BOTTOM: #e3d686 0px solid; HEIGHT: 1px
}
.ry_3 {
	BORDER-RIGHT: #e3d686 0px solid; BORDER-TOP: #e3d686 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e3d686 0px solid; BORDER-BOTTOM: #e3d686 0px solid; HEIGHT: 1px
}
.ry_4 {
	BORDER-RIGHT: #e3d686 0px solid; BORDER-TOP: #e3d686 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e3d686 0px solid; BORDER-BOTTOM: #e3d686 0px solid; HEIGHT: 1px
}
.ry_5 {
	BORDER-RIGHT: #e3d686 0px solid; BORDER-TOP: #e3d686 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e3d686 0px solid; BORDER-BOTTOM: #e3d686 0px solid; HEIGHT: 1px
}
.ry_1 {
	BACKGROUND: #e3d686; MARGIN: 0px 3px
}
.ry_5 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.ry_2 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.ry_4 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.ry_3 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.ry_4 {
	BACKGROUND: #f2eab7
}
.ry_5 {
	BACKGROUND: #f2eab7
}
.ry_2 {
	BACKGROUND: #f2eab7
}
.ry_3 {
	BACKGROUND: #f2eab7
}
.rr {
	BORDER-RIGHT: #e5ada7 1px solid; BACKGROUND: #fed6d2; PADDING-BOTTOM: 1px; BORDER-LEFT: #e5ada7 1px solid; ZOOM: 1
}
.rr_1 {
	BORDER-RIGHT: #e5ada7 0px solid; BORDER-TOP: #e5ada7 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e5ada7 0px solid; BORDER-BOTTOM: #e5ada7 0px solid; HEIGHT: 1px
}
.rr_2 {
	BORDER-RIGHT: #e5ada7 0px solid; BORDER-TOP: #e5ada7 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e5ada7 0px solid; BORDER-BOTTOM: #e5ada7 0px solid; HEIGHT: 1px
}
.rr_3 {
	BORDER-RIGHT: #e5ada7 0px solid; BORDER-TOP: #e5ada7 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e5ada7 0px solid; BORDER-BOTTOM: #e5ada7 0px solid; HEIGHT: 1px
}
.rr_4 {
	BORDER-RIGHT: #e5ada7 0px solid; BORDER-TOP: #e5ada7 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e5ada7 0px solid; BORDER-BOTTOM: #e5ada7 0px solid; HEIGHT: 1px
}
.rr_5 {
	BORDER-RIGHT: #e5ada7 0px solid; BORDER-TOP: #e5ada7 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #e5ada7 0px solid; BORDER-BOTTOM: #e5ada7 0px solid; HEIGHT: 1px
}
.rr_1 {
	BACKGROUND: #e5ada7; MARGIN: 0px 3px
}
.rr_5 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rr_2 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rr_4 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rr_3 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rr_4 {
	BACKGROUND: #fed6d2
}
.rr_5 {
	BACKGROUND: #fed6d2
}
.rr_2 {
	BACKGROUND: #fed6d2
}
.rr_3 {
	BACKGROUND: #fed6d2
}
.rc {
	PADDING-BOTTOM: 1px; ZOOM: 1
}
.rc1 {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid; HEIGHT: 1px
}
.rc2 {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid; HEIGHT: 1px
}
.rc3 {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid; HEIGHT: 1px
}
.rc4 {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid; HEIGHT: 1px
}
.rc5 {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid; HEIGHT: 1px
}
.rc1 {
	MARGIN: 0px 3px
}
.rc5 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 2px
}
.rc2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 2px
}
.rc4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.rc3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.rgg {
	BORDER-RIGHT: #d0ebc8 1px solid; BORDER-TOP: #d0ebc8 0px solid; BORDER-LEFT: #d0ebc8 1px solid; BORDER-BOTTOM: #d0ebc8 0px solid
}
.rgg_1 {
	BORDER-LEFT-COLOR: #d0ebc8; BORDER-BOTTOM-COLOR: #d0ebc8; BORDER-TOP-COLOR: #d0ebc8; BORDER-RIGHT-COLOR: #d0ebc8
}
.rgg_2 {
	BORDER-LEFT-COLOR: #d0ebc8; BORDER-BOTTOM-COLOR: #d0ebc8; BORDER-TOP-COLOR: #d0ebc8; BORDER-RIGHT-COLOR: #d0ebc8
}
.rgg_3 {
	BORDER-LEFT-COLOR: #d0ebc8; BORDER-BOTTOM-COLOR: #d0ebc8; BORDER-TOP-COLOR: #d0ebc8; BORDER-RIGHT-COLOR: #d0ebc8
}
.rgg_4 {
	BORDER-LEFT-COLOR: #d0ebc8; BORDER-BOTTOM-COLOR: #d0ebc8; BORDER-TOP-COLOR: #d0ebc8; BORDER-RIGHT-COLOR: #d0ebc8
}
.rgg_5 {
	BORDER-LEFT-COLOR: #d0ebc8; BORDER-BOTTOM-COLOR: #d0ebc8; BORDER-TOP-COLOR: #d0ebc8; BORDER-RIGHT-COLOR: #d0ebc8
}
.rgg_1 {
	BACKGROUND: #d0ebc8
}
.rgg {
	BACKGROUND: #e8f7e4
}
.rgg_4 {
	BACKGROUND: #e8f7e4
}
.rgg_5 {
	BACKGROUND: #e8f7e4
}
.rgg_2 {
	BACKGROUND: #e8f7e4
}
.rgg_3 {
	BACKGROUND: #e8f7e4
}
.cp {
	BORDER-RIGHT: #fcd372 1px solid; BACKGROUND: #fde7a2; PADDING-BOTTOM: 1px; BORDER-LEFT: #fcd372 1px solid; ZOOM: 1
}
.cp_1 {
	BORDER-RIGHT: #fcd372 0px solid; BORDER-TOP: #fcd372 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #fcd372 0px solid; BORDER-BOTTOM: #fcd372 0px solid; HEIGHT: 1px
}
.cp_2 {
	BORDER-RIGHT: #fcd372 0px solid; BORDER-TOP: #fcd372 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #fcd372 0px solid; BORDER-BOTTOM: #fcd372 0px solid; HEIGHT: 1px
}
.cp_3 {
	BORDER-RIGHT: #fcd372 0px solid; BORDER-TOP: #fcd372 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #fcd372 0px solid; BORDER-BOTTOM: #fcd372 0px solid; HEIGHT: 1px
}
.cp_4 {
	BORDER-RIGHT: #fcd372 0px solid; BORDER-TOP: #fcd372 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #fcd372 0px solid; BORDER-BOTTOM: #fcd372 0px solid; HEIGHT: 1px
}
.cp_5 {
	BORDER-RIGHT: #fcd372 0px solid; BORDER-TOP: #fcd372 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #fcd372 0px solid; BORDER-BOTTOM: #fcd372 0px solid; HEIGHT: 1px
}
.cp_1 {
	BACKGROUND: #fcd372; MARGIN: 0px 3px
}
.cp_5 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.cp_2 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.cp_4 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.cp_3 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.cp_4 {
	BACKGROUND: #fde7a2
}
.cp_5 {
	BACKGROUND: #fde7a2
}
.cp_2 {
	BACKGROUND: #fde7a2
}
.cp_3 {
	BACKGROUND: #fde7a2
}
.cp .t1 {
	PADDING-LEFT: 30px; BACKGROUND: url(http://img.baidu.com/img/iknow/trumpet.gif) no-repeat 8px center
}
.relateTag {
	PADDING-LEFT: 12px; PADDING-TOP: 12px
}
.relateTag A {
	MARGIN-LEFT: 1em; WORD-BREAK: keep-all; WHITE-SPACE: nowrap
}
.relateTable TD {
	FONT-SIZE: 14px; TEXT-ALIGN: left
}
TD.queryMore {
	PADDING-TOP: 8px
}
TD.queryMore SPAN {
	COLOR: #f03
}
TD.relateMore A {
	FONT-WEIGHT: bold
}
UL.push {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; ZOOM: 1; LIST-STYLE-TYPE: none
}
UL.push LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(http://img.baidu.com/img/iknow/q_help.gif) no-repeat 0px -176px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
UL.push LI A {
	WIDTH: 100%; WORD-BREAK: break-all; WORD-WRAP: break-word
}
UL.push LI.hover {
	BACKGROUND-POSITION: 0px 10px
}
#free_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px; ZOOM: 1
}
.rk {
	BORDER-RIGHT: #bdbdbd 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #d7d7d7; PADDING-BOTTOM: 2px; BORDER-LEFT: #bdbdbd 1px solid; PADDING-TOP: 2px
}
.rk1 {
	BORDER-RIGHT: #bdbdbd 0px solid; BORDER-TOP: #bdbdbd 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #bdbdbd 0px solid; BORDER-BOTTOM: #bdbdbd 0px solid; HEIGHT: 1px
}
.rk2 {
	BORDER-RIGHT: #bdbdbd 0px solid; BORDER-TOP: #bdbdbd 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #bdbdbd 0px solid; BORDER-BOTTOM: #bdbdbd 0px solid; HEIGHT: 1px
}
.rk3 {
	BORDER-RIGHT: #bdbdbd 0px solid; BORDER-TOP: #bdbdbd 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #bdbdbd 0px solid; BORDER-BOTTOM: #bdbdbd 0px solid; HEIGHT: 1px
}
.rk4 {
	BORDER-RIGHT: #bdbdbd 0px solid; BORDER-TOP: #bdbdbd 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #bdbdbd 0px solid; BORDER-BOTTOM: #bdbdbd 0px solid; HEIGHT: 1px
}
.rk5 {
	BORDER-RIGHT: #bdbdbd 0px solid; BORDER-TOP: #bdbdbd 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #bdbdbd 0px solid; BORDER-BOTTOM: #bdbdbd 0px solid; HEIGHT: 1px
}
.rk1 {
	BACKGROUND: #bdbdbd; MARGIN: 0px 3px
}
.rk5 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rk2 {
	BORDER-LEFT-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.rk4 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rk3 {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.rk4 {
	BACKGROUND: #d7d7d7
}
.rk5 {
	BACKGROUND: #d7d7d7
}
.rk2 {
	BACKGROUND: #d7d7d7
}
.rk3 {
	BACKGROUND: #d7d7d7
}
.notice {
	BORDER-RIGHT: #a5da94 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #dbf1d4; PADDING-BOTTOM: 2px; BORDER-LEFT: #a5da94 1px solid; PADDING-TOP: 2px
}
.notice SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.nt_out {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.nt_in {
	BORDER-RIGHT: #a5da94 0px solid; BORDER-TOP: #a5da94 0px solid; FONT-SIZE: 0px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #a5da94 0px solid; BORDER-BOTTOM: #a5da94 0px solid; HEIGHT: 1px
}
.nt_out {
	BACKGROUND: #a5da94; MARGIN: 0px 2px
}
.nt_in {
	BORDER-LEFT-WIDTH: 1px; BACKGROUND: #dbf1d4; BORDER-RIGHT-WIDTH: 1px
}
.alert {
	COLOR: red
}
