BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 100%; COLOR: #333; FONT-FAMILY: tahoma,Verdana,Arial,'ו'
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
TD {
	FONT-SIZE: 12px; COLOR: #333; LINE-HEIGHT: 20px; FONT-FAMILY: Arial
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
UNKNOWN {
	MARGIN: 0px auto; TEXT-ALIGN: center
}
IMG {
	boder: none
}
.menu {
	BACKGROUND: url(/images/bbs/menu_bg.gif) repeat-x left top; PADDING-TOP: 10px; HEIGHT: 37px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL {
	DISPLAY: block
}
LI {
	DISPLAY: block
}
.red12_900 {
	COLOR: #069
}
.red12_900 A {
	COLOR: #069; TEXT-DECORATION: none
}
.red12_900 A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
.blue_line {
	COLOR: #069; TEXT-DECORATION: underline
}
.blue_line A {
	COLOR: #069; TEXT-DECORATION: underline
}
.blue_line A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
.red {
	COLOR: #f00; TEXT-DECORATION: none
}
.red A {
	COLOR: #f00; TEXT-DECORATION: none
}
.red A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.gray12cu {
	FONT-WEIGHT: bold
}
.gray666 {
	COLOR: #666
}
.gray666 A {
	COLOR: #666666
}
.gray666 A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.green {
	COLOR: #456600
}
.green A {
	COLOR: #456600
}
.green A:hover {
	COLOR: #456600; TEXT-DECORATION: underline
}
.orange {
	FONT-WEIGHT: bold; COLOR: #ff8c00
}
.orange A {
	COLOR: #ff8c00
}
.orange A:hover {
	COLOR: #ff8c00; TEXT-DECORATION: underline
}
.white {
	COLOR: #fff
}
.white A {
	COLOR: #fff
}
.white A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#menu {
	MIN-HEIGHT: auto; WIDTH: 168px; LINE-HEIGHT: 24px; HEIGHT: auto! important; BACKGROUND-COLOR: #4073a3
}
#menu .txt {
	MARGIN: 8px auto; COLOR: #fff
}
#menu .txt A {
	COLOR: #ff0; TEXT-DECORATION: underline
}
#menu .list {
	MARGIN: 0px auto 2px; WIDTH: 168px; CURSOR: pointer; COLOR: #fff; TEXT-INDENT: 20px; PADDING-TOP: 8px; POSITION: relative; TEXT-ALIGN: left
}
#menu .list SPAN {
	MARGIN: 0px auto 2px; COLOR: #003471; LINE-HEIGHT: 27px; POSITION: relative; TEXT-ALIGN: left
}
#menu .list02 {
	BACKGROUND: url(/images/bbs/line.gif) repeat-y left 50%; MARGIN: 4px 2px 0px 10px; WIDTH: 140px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 22px; POSITION: relative; TEXT-ALIGN: left
}
#menu .group {
	BACKGROUND: url(/images/bbs/main/menu_btn_bg.gif) fixed no-repeat center 50%; COLOR: #003471
}
#menu .froum01 {
	PADDING-LEFT: 25px; BACKGROUND: url(/images/bbs/menuicon/plus.gif) no-repeat 5px 7px; MARGIN: 0px; WIDTH: 132px; COLOR: #fff; TEXT-ALIGN: left
}
#menu .froum02 {
	PADDING-LEFT: 25px; BACKGROUND: url(/images/bbs/menuicon/minus.gif) no-repeat 5px 7px; MARGIN: 0px; WIDTH: 132px; TEXT-ALIGN: left
}
#menu .froum03 {
	PADDING-LEFT: 25px; BACKGROUND: url(/images/bbs/menuicon/minus.gif) no-repeat 5px 7px; MARGIN-LEFT: 0px; WIDTH: 132px; TEXT-ALIGN: left
}
#menu .froum04 {
	PADDING-LEFT: 16px; MARGIN-LEFT: 10px; TEXT-ALIGN: left
}
#menu .froum01 A {
	COLOR: #fff; TEXT-DECORATION: none
}
#menu .froum02 A {
	COLOR: #fff; TEXT-DECORATION: none
}
#menu .froum03 A {
	COLOR: #fff; TEXT-DECORATION: none
}
#menu .froum04 A {
	COLOR: #fff; TEXT-DECORATION: none
}
.menu_txt {
	PADDING-LEFT: 21px; BACKGROUND: url(/images/bbs/main/menu_btn_bg.gif) no-repeat left 50%; MARGIN: 0px; WIDTH: 147px; COLOR: #fff; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: left
}
.blue {
	PADDING-LEFT: 47px; COLOR: #003471
}
#statusid {
	DISPLAY: none
}
#menu H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(/images/bbs/eefocus/nav_bg.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 29px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#menu UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu UL.expanded {
	DISPLAY: block; TEXT-INDENT: 25px; TEXT-ALIGN: left
}
#menu UL.expanded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#treenav UL.collapsed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu UL.collapsed {
	DISPLAY: block; TEXT-INDENT: 35px
}
.collapsed3 {
	DISPLAY: block; TEXT-INDENT: 45px
}
.collapsed4 {
	DISPLAY: block; TEXT-INDENT: 55px
}
.collapsed5 {
	TEXT-INDENT: 65px
}
.listhead {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(/images/bbs/eefocus/plus.gif) #658fb5 no-repeat 8px 8px; PADDING-BOTTOM: 0px; MARGIN: 5px; WIDTH: 150px; COLOR: #fff; TEXT-INDENT: 15px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.collapsed LI {
	WIDTH: 168px
}
.expanded LI {
	PADDING-LEFT: 15px; BACKGROUND: url(/images/bbs/dot.gif) no-repeat 25px 5px; OVERFLOW: hidden; WIDTH: 153px; TEXT-INDENT: 35px; HEIGHT: 24px
}
#menu A {
	COLOR: #fff; TEXT-DECORATION: none
}
#menu A:hover {
	COLOR: #fff
}
.login_box {
	BORDER-RIGHT: #cad9ea 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cad9ea 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cad9ea 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cad9ea 1px solid
}
.margin_top {
	MARGIN-TOP: 8px
}
.second_table {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; LINE-HEIGHT: 18px; PADDING-TOP: 1px
}
.white_margin {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 23px
}
.white_margin A {
	COLOR: #fff; TEXT-DECORATION: none
}
.white_margin A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.altbg1 {
	BACKGROUND-COLOR: #fff
}
.altbg2 {
	PADDING-LEFT: 10px; BACKGROUND-COLOR: #f0f5f9
}
.td_title {
	BORDER-RIGHT: #a2b4ce 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a2b4ce 1px solid; PADDING-LEFT: 1px; BACKGROUND: url(/images/bbs/eefocus/page_bg.gif) repeat-x; PADDING-BOTTOM: 0px; BORDER-LEFT: #a2b4ce 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #a2b4ce 0px solid; HEIGHT: 23px
}
.red_top {
	BACKGROUND: url(/images/bbs/eefocus/page_bg.gif) repeat-x; COLOR: #fff; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center
}
#pagerbar {
	DISPLAY: inline
}
.numonpage {
	BORDER-RIGHT: #cee5f8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cee5f8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: 0px 3px; BORDER-LEFT: #cee5f8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cee5f8 1px solid; BACKGROUND-COLOR: #cee5f8
}
A.numpagelink {
	BORDER-RIGHT: #cee5f8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cee5f8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #cee5f8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cee5f8 1px solid; BACKGROUND-COLOR: #fff
}
A.textlink {
	BORDER-RIGHT: #cee5f8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cee5f8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 3px; BORDER-LEFT: #cee5f8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cee5f8 1px solid; BACKGROUND-COLOR: #fff
}
.title_input {
	BORDER-RIGHT: #9c9c9c 1px solid; BORDER-TOP: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; BORDER-BOTTOM: #9c9c9c 1px solid
}
.postauthor CITE {
	DISPLAY: block; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; OVERFLOW: hidden; BORDER-BOTTOM: #cad9ea 1px solid; HEIGHT: 29px
}
.postauthor CITE LABEL A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: right; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.postauthor CITE A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 8px; OVERFLOW: hidden; PADDING-TOP: 5px; HEIGHT: 10px; boder: #e8f3fd 1px solid; boder-bottom: 0
}
.postauthor CITE A.hover {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
.postauthor DT {
	FLOAT: left; COLOR: #666; MARGIN-RIGHT: 0.5em
}
.postauthor DD {
	LINE-HEIGHT: 1.6em; HEIGHT: 1.6em
}
.postauthor DT {
	LINE-HEIGHT: 1.6em; HEIGHT: 1.6em
}
.postauthor DD {
	OVERFLOW: hidden
}
.postauthor P {
	MARGIN: 0px 10px
}
.postauthor P.customstatus {
	COLOR: #666
}
.postauthor P EM {
	COLOR: #090
}
.postauthor DT EM {
	COLOR: #090
}
.postauthor UL {
	MARGIN: 5px 10px; OVERFLOW: hidden; LINE-HEIGHT: 1.6em
}
.postauthor LI {
	BACKGROUND-POSITION: 0px 50%; FLOAT: left; OVERFLOW: hidden; WIDTH: 49.5%; TEXT-INDENT: 22px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 1.6em
}
.postauthor DL.profile {
	MARGIN: 5px 10px; PADDING-TOP: 5px
}
.postauthor DIV.bio {
	MARGIN: 5px 10px; PADDING-TOP: 5px
}
.userinfopanel {
	BORDER-RIGHT: #cad9ea 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cad9ea 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; BORDER-LEFT: #cad9ea 1px solid; WIDTH: 140px; PADDING-TOP: 10px; BORDER-BOTTOM: #cad9ea 1px solid
}
.new_green {
	COLOR: #090
}
.red_table {
	BORDER-RIGHT: #a2b4ce 1px solid; BORDER-TOP: #a2b4ce 1px solid; BORDER-LEFT: #a2b4ce 1px solid; BORDER-BOTTOM: #a2b4ce 1px
}
.list_border {
	PADDING-LEFT: 8px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #a2b4ce 1px solid
}
.anno_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 10px auto; WIDTH: 98%; COLOR: #444; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #e6e7e1 1px solid; TEXT-ALIGN: left
}
.anno_list H3 {
	FONT-SIZE: 14px; COLOR: #069; LINE-HEIGHT: 30px
}
.anno_list EM {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999; FONT-STYLE: normal
}
.anno_list SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #069
}
.anno_list SPAN A {
	COLOR: #069
}
.anno_list SPAN A:hover {
	COLOR: #069; TEXT-DECORATION: underline
}
.author {
	COLOR: #999; LINE-HEIGHT: 30px
}
.author A {
	COLOR: #000
}
.search {
	LINE-HEIGHT: 24px
}
.search TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #a2b4ce 1px solid
}
.postcontent {
	VERTICAL-ALIGN: top
}
.postauthor {
	VERTICAL-ALIGN: top
}
.signatures {
	BACKGROUND: url(/images/bbs/default/icon_name.gif) no-repeat 0px 0px; MARGIN: 10px; OVERFLOW: hidden; COLOR: #666; LINE-HEIGHT: 1.6em; PADDING-TOP: 20px
}
.signatures {
	LINE-HEIGHT: normal
}
.signatures STRONG {
	FONT-WEIGHT: bold
}
.td_line02 {
	LINE-HEIGHT: 24px; PADDING-TOP: 5px; BORDER-BOTTOM: #cad9ea 1px solid
}
.ad_textlink {
	PADDING-LEFT: 25px; BACKGROUND: url(/images/bbs/mainicon/ad_icon.gif) no-repeat 0px 50%; FLOAT: left; WHITE-SPACE: nowrap
}
.postactions {
	PADDING-RIGHT: 10px; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px
}
.popupmenu_popup {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/bbs/default/portalbox_bg.gif) #fff repeat-x 0px 1px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 1.4em; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
.newspecialmenu {
	WIDTH: 80px
}
.newspecialmenu LI {
	DISPLAY: block; BACKGROUND: url(/images/bbs/default/folder_s.gif) no-repeat 3px 50%; FLOAT: left
}
.newspecialmenu LI.poll {
	BACKGROUND: url(/images/bbs/default/pollsmall.gif) no-repeat 3px 30%
}
.newspecialmenu LI.reward {
	BACKGROUND: url(/images/bbs/default/rewardsmall.gif) no-repeat 3px 0px
}
.newspecialmenu A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; WIDTH: 75px; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e8e8 1px solid
}
.newspecialmenu A:hover {
	BORDER-BOTTOM-COLOR: #ccc; COLOR: #069; TEXT-DECORATION: none
}
TABLE.right_con {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 6px 0px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ccc 1px
}
TABLE.right_con TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #c70043; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 26px; PADDING-TOP: 0px; BORDER-BOTTOM: #9a0034 2px solid
}
TABLE.right_con TR.theme {
	BACKGROUND: #f3e4e9; HEIGHT: 25px
}
TABLE.right_con TH.banzhu {
	FONT-WEIGHT: normal; COLOR: #fff
}
.banzhu A:link {
	FONT-WEIGHT: normal; COLOR: #fff
}
.banzhu A:visited {
	FONT-WEIGHT: normal; COLOR: #fff
}
.banzhu A:hover {
	FONT-WEIGHT: normal; COLOR: #fff
}
.banzhu A:active {
	FONT-WEIGHT: normal; COLOR: #fff
}
TABLE.right_con TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
.altbg1 {
	BACKGROUND: #fff
}
.altbg2 {
	BACKGROUND: #efefef
}
